<div class="bg-light">

  <div class="row">
      <div class="bg-light">1</div>
      <div class="col-3"></div>
      <div class="col-4 m-5 p-5 bg-light bord">
          <div align="center">
          <svg xmlns="http://www.w3.org/2000/svg" width="30" height="40" fill="currentColor" class="bi bi-bank2 mb-3" viewBox="0 0 16 16">
              <path d="M8.277.084a.5.5 0 0 0-.554 0l-7.5 5A.5.5 0 0 0 .5 6h1.875v7H1.5a.5.5 0 0 0 0 1h13a.5.5 0 1 0 0-1h-.875V6H15.5a.5.5 0 0 0 .277-.916l-7.5-5zM12.375 6v7h-1.25V6h1.25zm-2.5 0v7h-1.25V6h1.25zm-2.5 0v7h-1.25V6h1.25zm-2.5 0v7h-1.25V6h1.25zM8 4a1 1 0 1 1 0-2 1 1 0 0 1 0 2zM.5 15a.5.5 0 0 0 0 1h15a.5.5 0 1 0 0-1H.5z"/>
            </svg>
          </div>
          <h1 class="mb-3 fs-3 text-center nkn">MYBANK</h1>
          <h6 class="mb-2 text-center">{{aim}}</h6>
          <form>
         <input #acno type="text" id="acnum" [placeholder]="account"class="form-control mb-2 nk">
         <input #pswd type="password" id="pswdd" placeholder="password"class="form-control nk">
         <button id="nn"(click)="login(acno,pswd)"type="button" class="mt-4">login</button>
      </form>
      <div class="text-center fs-8 mt-4">
          <a href="'#">Forget password?</a>or<a href="register.html">Sign up</a>
      </div>
      </div>
      <div class="col-5"></div>
 </div>
</div>
